# ignore
.idea/
.venv/
__pycache__/
config/config.YAML
deprecated/
logs/*
output.txt
scripts/
src/data/database/*.json
src/data/database/constants_precomputation/*.json
.VSCodeCounter/
*.lnk
LDR_unit_edits_old.py
notes
.cursor
python_version_check.py
tools/dpm_visualizer/user_data.json
tools/dpm_visualizer/dpm_visualizer_cache.json
tools/infantry_dpm_visualizer.py
tools/extract_infantry_tab.py
agent
UNITS.csv

# don't ignore
!logs/.gitkeep
!src/data/database/.gitkeep
!src/data/database/master_db_metadata.json
*.txt
