# ignore
.idea/
.venv/
__pycache__/
config/config.YAML
deprecated/
logs/*
output.txt
scripts/
src/data/database/*.json
temp_context.txt

# don't ignore
!logs/.gitkeep
!src/data/database/.gitkeep
*.lnk
